*{
    margin: 0;
    padding: 0;
}
textarea {
    resize: none;
}
textarea,input{
    border: 0;
    margin: 0;
    padding: 0;
    outline-style: none;
}
select, input, textarea {
    font-size: 12px;
    margin: 0;
}
/*清除浮动*/
#hsj{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}
#link{
    width: 1200px;
    height: 133px;
    margin: 0 auto;
    position: relative;
    background: url("../images/link-bg.gif") repeat-x;
}

#link h2{
    float: left;
}

.box ul{
    list-style: none;
    position: relative;
    left: 100px;
    top: 1px;
}
.box li{
    display: none;
}
#wrap{
    width: 1050px;
    height: 500px;
    background: url("../images/daqq1.gif") no-repeat;
}
#receiveText{
    width: 888px;
    height: 66px;
    position: absolute;
    top: 315px;
    left: 5px;
}
#receive{
    width: 888px;
    height: 66px;
    text-align: right;
}
#useText{
    width: 830px;
    height: 68px;
    position: absolute;
    top: 407px;
    left: 3px;
}
#showText{
    width: 830px;
    height: 68px;
}
#send{
    width: 50px;
    height: 40px;
    position: absolute;
    left: 845px;
    top: 420px;
}
#sendBtn{
    width: 50px;
    height: 40px;
}
.textBorder{
    border: solid 1px lightseagreen;
}